@model Budgeter.Models.CodeFirst.Household

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Bank Accounts
        </dt>
        <dd>
            <a href="@Url.Action("Create", "BankAccounts", new {HouseholdId=Model.Id })">Create New Bank Account</a>
        </dd>
        <dd>
            @foreach (var acct in Model.BankAccounts)
            {
                <a href="@Url.Action("Details", "BankAccounts", new { id=acct.Id})">@acct.Name</a>
            }
        </dd>
        <dt>
            Budgets
        </dt>
        <dd>
            <a href="@Url.Action("Create", "Budgets", new {HouseholdId = Model.Id })">Create New Budget</a>
        </dd>
        <dd>
            @foreach (var bud in Model.Budgets)
            {
                <a href="@Url.Action("Details", "Budgets", new { id = bud.Id })">@bud.Name</a>
            }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });</script>
}


